<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Filebox</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
	<link  href="{templateuri}/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="title">
	<h1><a href=".">filebox</a></h1>
</div>

<div id="uploadbox">
{uploadbox}
</div>

<div id="status">
{status}
</div>

<div id="filelist">
{filelist}
</div>

</body>

</html>
